{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <title>Turmas</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1"><a href="{% url 'home' %}">{{ professor.nome }}</a></span>
        <form id="logout-form" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Sair</button>
        </form>
    </nav>
</header>
<body>    
    {% block content %}
    <div class="button_cadastro">
        <a href="{% url 'cadastrar_turma' %}" class="fonte_style">Cadastrar Turma</a>
    </div>
    
    <h3>Turmas</h3>

    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Nome</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% if turmas %}
            {% for turma in turmas %}
            <tr>
                <td>{{ turma.id }}</td>
                <td>{{ turma.nome }}</td>
                <td class="td_acoes fonte_style">
                    <a href="{% url 'deletar_turma' turma.id %}">Excluir</a>
                    <a href="{% url 'listar_atividades' turma.id %}">Visualizar</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    
    {% endblock content %}
</body>
